// ////////////////////////////////////////////////////////////////// Typography
// =============================================================================
// -------------------------------------------------------------------- Families
$fontInter: 'Inter', sans-serif, monospace;
$fontMenlo: 'Menlo', sans-serif, monospace;

$fontAssetPath: 'assets/fonts';

// ----------------------------------------------------------------------- Inter
@font-face {
  font-family: 'Inter';
  src: url('#{$fontAssetPath}/inter/Inter-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('#{$fontAssetPath}/inter/Inter-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'InterItalic';
  src: url('#{$fontAssetPath}/inter/Inter-VariableFont_slnt,wght.ttf') format('truetype');
  font-weight: 400;
  font-variation-settings: "slnt" -10;
}

@font-face {
  font-family: 'Inter';
  src: url('#{$fontAssetPath}/inter/Inter-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: bold;
}

@font-face {
  font-family: 'InterItalic';
  src: url('#{$fontAssetPath}/inter/Inter-VariableFont_slnt,wght.ttf') format('truetype');
  font-weight: 500;
  font-variation-settings: "slnt" -10;
}

@font-face {
  font-family: 'Inter';
  src: url('#{$fontAssetPath}/inter/Inter-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: bold;
}

@font-face {
  font-family: 'Inter';
  src: url('#{$fontAssetPath}/inter/Inter-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: bold;
}

// ----------------------------------------------------------------------- Menlo
@font-face {
  font-family: 'Menlo';
  src: url('#{$fontAssetPath}/menlo/Menlo-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

// --------------------------------------------------------------------- Leading
@function leading($lineHeight, $fontSize) {
  @return math.div(math.round(10 * math.div($lineHeight, $fontSize)), 10);
}

// ///////////////////////////////////////////////////////// Basic Styles Mixins
// =============================================================================
@mixin h1 {
  font-size: toRem(38);
  line-height: leading(53, 38);
  font-weight: 600;
  letter-spacing: -0.02em;
}

@mixin h2 {
  font-size: toRem(24);
  line-height: leading(36, 24);
  font-weight: 600;
  letter-spacing: -0.02em;
}

@mixin h3 {
  font-size: toRem(19);
  line-height: leading(28, 19);
  font-weight: 600;
  letter-spacing: -0.01em;
  margin: 3rem 0 1.25rem;
}

@mixin h4 {
  font-size: toRem(17);
  line-height: leading(25, 17);
  font-weight: 600;
}

@mixin h5 { // needs to be updated
  font-size: toRem(20);
  line-height: leading(30, 20);
  font-weight: 500;
}

@mixin h6 { // needs to be updated
  font-size: toRem(18);
  line-height: leading(30, 18);
  font-weight: 500;
}

@mixin p1 {
  font-size: toRem(16);
  line-height: leading(27, 16);
  font-weight: 400;
}

@mixin p2 {
  font-size: toRem(14);
  line-height: leading(21, 14);
  font-weight: 400;
  letter-spacing: 0.2px;
  // margin-bottom: 1.2rem;
}

@mixin inlineCode {
  font-family: $fontMenlo;
  color: var(--code-text-color);
  background-color: var(--code-background-color);
  padding: 0.12rem 0.45rem;
  border-radius: toRem(4);
}

@mixin p1Link {
  @include p1;
  font-weight: 500;
  color: var(--link-color);
  &:hover {
    color: var(--link-hover-color);
    transition: color .25s ease;
  }
}

// ////////////////////////////////////////////////////////////////////// Sizing
// =============================================================================
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  margin-bottom: 0;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  display: block;
  line-height: 1.4;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: none;
}

h1, .h1 {
  @include h1;
}

h2, .h2 {
  @include h2;
}

h3, .h3 {
  @include h3;
}

h4, .h4 {
  @include h4;
}

h5, .h5 {
    @include h5;
  }

  h6, .h6 {
      @include h6;
    }

p,
.p1,
div,
a,
button {
  @include p1;
}

:not(pre) > code {
  @include inlineCode;
}

// /////////////////////////////////////////////////////////// Navigation Mixins
// =============================================================================
@mixin navigation {
  font-size: toRem(13);
  line-height: leading(20, 13);
  font-weight: 500;
}

// -------------------------------------------------------------- Sidebar Mixins
@mixin sidebarSectionTitle {
  @include navigation;
  font-weight: 600;
  letter-spacing: 0.2px;
}

@mixin sidebar {
  @include navigation;
  color: var(--sidebar-text-color);
  padding: toRem(4) 0;
}

// -------------------------------------------------------- Magellan Menu Mixins

@mixin magellanTitle {
  font-size: toRem(11);
  line-height: leading(28, 11);
  font-weight: 600;
  letter-spacing: 0.4px;
}

@mixin magellan {
  font-size: toRem(13);
  line-height: leading(24, 13);
  font-weight: 500;
  letter-spacing: 0.2px;
  color: var(--sidebar-text-color);
  &:hover {
    cursor: pointer;
    color: var(--primary-text-color)
  }
}

// ///////////////////////////////////////////////////////////////// Misc Mixins
// =============================================================================
@mixin customBlockTitle {
  font-size: toRem(15);
  line-height: leading(24, 15);
  font-weight: 500;
  letter-spacing: 0.2px;
  margin-bottom: toRem(8);
}

@mixin customBlockText {
  color: $softBlack;
  font-size: toRem(14);
  line-height: (22, 14);
  font-weight: 400;
  letter-spacing: 0.2px;
  margin-bottom: toRem(17);
}
