.markdown, .markdown-user-input {
  // ================================================================ Typography
  h1, h2, h3, h4, h5, h6 {
    + ul, + ol {
      margin-top: 2rem;
    }
  }

  h1 {
    margin: 0 0 3rem;
  }

  h1,
  h1 > .heading-anchor {
    @include h1;
  }

  h2,
  h2 > .heading-anchor {
    @include h2;
  }

  h3 {
    @include h3;
  }

  h4 {
    @include h4;
  }

  h5 {
    @include h5;
  }

  h6 {
    @include h6;
  }

  p {
    @include p1;
    &:not(:last-child) {
      margin-bottom: 1.2rem;
    }
  }

  a {
    @include p1Link;
  }

  // =================================================================== General
  hr {
    margin-bottom: 2rem;
  }

  pre,
  code {
    background-color: var(--code-background-color);
    color: var(--code-text-color);
    padding: 0.3125rem 0.625rem;
    border-radius: 0.25rem;
    font-size: 0.75rem;
  }

  pre code {
    padding: 0;
    background-color: transparent;
  }

  code {
    @include inlineCode;
    &::-moz-selection { background: $codGray; color: $white; }
    &::selection { background: $codGray; color: $white; }
  }

  // ===================================================================== Lists
  ul, ol {
    &:not(:last-child) {
      margin-bottom: 2rem;
    }
    li {
      margin-bottom: 1rem;
    }
    ul, ol {
      margin-top: 1rem;
    }
  }

  ul {
    li {
      list-style: none;
      padding-left: 1.75rem;
      margin-bottom: 1rem;
      font-size: 1.125rem;
      font-weight: 400;
      line-height: leading(35, 18);
      &:before {
        content: '';
        display: inline-block;
        position: relative;
        left: calc(-1.75rem + 2px + 9px);
        width: 7px;
        height: 7px;
        margin-left: -9px;
        border-radius: 50%;
        background-color: white;
      }
      li {
        &:before {
          background-color: transparent;
          border: 1px solid white;
        }
      }
    }
  }

  ol {
    padding-left: 1.375rem;
  }
}
